@model TropicalServerApp.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer</title>
</head>
<body>
    <div> 
        Customer ID: @Model.CustomerId <br />
        Customer Password: @Model.CustomerPassword
    </div>
</body>
</html>
